body,
html {
    margin: 0;
    height: 100%;
    background: #000;
    overflow: hidden;
}

canvas {
    display: block;
}

.player {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid #f60;
    border-radius: 999px;
    background: 0 0;
    /* Transparente */
    box-shadow: 0 0 15px #f60, 0 0 30px #5f0384;
    z-index: 1000;
    font-family: Arial, sans-serif;
    color: #fff;
    font-size: 14px;
}

.player button {
    background: 0 0;
    border: none;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    filter: drop-shadow(0 0 6px #ff6600);
    transition: transform .2s;
}

.player button:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 10px #ff3300);
}

.progress {
    flex-grow: 1;
    height: 14px;
    background: rgba(255, 255, 255, .12);
    border-radius: 999px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(270deg, #f60, #5f0384, #f09, #f60);
    background-size: 400% 400%;
    border-radius: 999px;
    box-shadow: 0 0 10px #f60;
    animation: flowing 6s ease infinite;
}

@keyframes flowing {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

.time {
    min-width: 74px;
    text-align: right;
    font-size: 12px;
    color: #fff;
    text-shadow: 0 0 5px #f60;
}